/* Tabela de processos */

.table-dark {
  --mdb-table-bg: #003364;
}

/* Paginação */

.pagination {
  margin-bottom: 20px;
}

.step-links {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.step-links .current {
  margin-left: 5px;
  margin-right: 5px;
}

.fa-arrow-right,
.fa-arrow-left {
  color: #003364;
}
