/* Tabela de processos */

.table-dark {
  --mdb-table-bg: #003364;
}

.process-table {
  border-radius: 20px;
  margin: 0;
  padding: 0;
}

/* Paginação */

.pagination {
  margin-bottom: 20px;
}

.step-links {
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.step-links .current {
  margin-left: 5px;
  margin-right: 5px;
}

.fa-arrow-right,
.fa-arrow-left {
  color: #003364;
}

@media (max-width: 1200px) {
  .process-table {
    height: 80%;
  }
}
