{% extends "base.html" %} {% block title %} Tabela {% endblock %}
<!---->
{% block content%}
<h1>Lista de Processos</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Advogado</th>
      <th>Cliente</th>
      <th>Número do processo</th>
      <th>Próximo prazo</th>
      <th>Arquivo</th>
    </tr>
  </thead>
  <tbody>
    {% for processo in processos %}
    <tr>
      <td>{{ processo.id }}</td>
      <td>{{ processo.advogado.nome }}</td>
      <td>{{ processo.cliente.nome }}</td>
      <td>{{ processo.numero_processo }}</td>
      <td>{{ processo.proximo_prazo }}</td>
      <td>{{ processo.arquivo }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
