{% extends "base.html" %}
<!-- Título -->
{% block title %} Tabela - Página {{ processos.number }} {% endblock %}
<!-- Conteúdo -->
{% block content%}
<div class="container table-search p-0 mb-3 d-flex gap-2">
  <form method="GET" class="col-10" id="search-form">
    <div class="form-outline">
      <input
        type="text"
        id="search"
        class="form-control form-control-lg"
        name="search"
        value="{{ request.GET.search }}"
      />
      <label class="form-label" for="search">Informe o ID do advogado</label>
    </div>
  </form>
  <button id="search-btn" class="btn btn-primary col-2">Gerar Relatório</button>
</div>

{% if processos %}
<!-- Verifica se há processos -->
<div class="table-responsive container process-table">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">Advogado</th>
        <th scope="col">Cliente</th>
        <th scope="col">Número do processo</th>
        <th scope="col">Próximo prazo</th>
        <th scope="col">Arquivo</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop para mostrar os processos na tabela -->
      {% for processo in processos %}
      <tr>
        <td scope="row">{{ processo.advogado.nome }}</td>
        <td>{{ processo.cliente.nome }}</td>
        <td>{{ processo.numero_processo }}</td>
        <td>{{ processo.proximo_prazo|date:"d/m/Y H:i" }}</td>
        <!-- Formata a data -->
        <td>{{ processo.arquivo }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <!-- Paginação -->
  <div class="pagination">
    <span class="step-links">
      <!-- Verifica se há uma página anterior -->
      {% if processos.has_previous %}
      <a
        href="?page={{ processos.previous_page_number }}{% if search %}&search={{ search }}{% endif %}"
        ><i class="fa fa-arrow-left"></i></a
      >{% endif %}

      <!-- Mostra a página (somente se houver mais de uma página) -->
      {% if processos.paginator.num_pages > 1 %}
      <span class="current"
        >{{ processos.number }} de {{ processos.paginator.num_pages }}</span
      >
      {% endif %}

      <!-- Verifica se há uma próxima página -->
      {% if processos.has_next %}
      <a
        href="?page={{ processos.next_page_number }}{% if search %}&search={{ search }}{% endif %}"
        ><i class="fa fa-arrow-right"></i></a
      >{% endif %}
    </span>
  </div>
</div>

{% else %}
<!-- Caso não haja processos -->
<p>Nenhum resultado encontrado para a pesquisa.</p>
{% endif %} {% endblock %}
