{% extends "base.html" %}
<!-- Título -->
{% block title %} Tabela - Página {{ processos.number }} {% endblock %}
<!-- Conteúdo -->
{% block content%}
<div class="table-responsive container process-table">
  <table class="table">
    <thead class="table-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Advogado</th>
        <th scope="col">Cliente</th>
        <th scope="col">Número do processo</th>
        <th scope="col">Próximo prazo</th>
        <th scope="col">Arquivo</th>
      </tr>
    </thead>
    <tbody>
      <!-- Loop para mostrar os processos na tabela -->
      {% for processo in processos %}
      <tr>
        <td scope="row">{{ processo.id }}</td>
        <td>{{ processo.advogado.nome }}</td>
        <td>{{ processo.cliente.nome }}</td>
        <td>{{ processo.numero_processo }}</td>
        <td>{{ processo.proximo_prazo }}</td>
        <td>{{ processo.arquivo }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <div class="pagination">
    <span class="step-links">
      <!-- Verifica se há uma página anterior -->
      {% if processos.has_previous %}
      <a href="?page={{ processos.previous_page_number }}"
        ><i class="fa fa-arrow-left"></i></a
      >{% endif %}
      <!-- Mostra a página -->
      <span class="current">
        {{ processos.number }} de {{ processos.paginator.num_pages }}</span
      >
      <!-- Verifica se há uma próxima página -->
      {% if processos.has_next %}
      <a href="?page={{ processos.next_page_number }}"
        ><i class="fa fa-arrow-right"></i></a
      >{% endif %}
    </span>
  </div>
</div>

{% endblock %}
